@using Eumel.Core
@namespace Eumel.Client.Components

<span class=@_class>
    @Value
</span>

@code {
    [Parameter]
    public Card Value { get; set; }

    private string _class;

    protected override void OnParametersSet()
    {
        var isRed = Value.Suit == Suit.Diamonds || Value.Suit == Suit.Hearts;
        _class = isRed ? "text-danger" : "text-body";
        base.OnParametersSet();
    }
}