@using Eumel.Core
@namespace Eumel.Client.Components

<h1>
    <span class=@_class>
        @if(Highlight)
        {
            <u>
                @Value
            </u>
        }
        else
        {
            @Value
        }
    </span>
</h1>

@code {
    [Parameter]
    public Card Value { get; set; }

    [Parameter]
    public bool Highlight { get; set; }

    private string _class;

    protected override void OnParametersSet()
    {
        var isRed = Value.Suit == Suit.Diamonds || Value.Suit == Suit.Hearts;
        _class = isRed ? "text-danger" : "text-body";
        base.OnParametersSet();
    }
}