@using Eumel.Core.GameSeriesEvents
@using Eumel.Core
@namespace Eumel.Client.Components
@if (Trick != null)
{
    <div class="row justify-content-center">
        @foreach (var move in Trick.Moves)
        {
            <div class="text-center border-0">
                <div class="px-2 m-1">
                    <CardSymbol Value="@move.Card" />
                    <div class="text-muted small">
                        <span class="badge badge-pill badge-@(move.Player == Trick.PlayerWithHighestCard?"secondary":"light")">
                            @PlayerNames[move.Player]
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public TrickState Trick { get; set; }

    [Parameter]
    public List<string> PlayerNames { get; set; }

}