@namespace Eumel.Client.Components
@using Core

<div class="row justify-content-center">
    <h1>@RoomName</h1>
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-outline-dark" @onclick=@(() => OnStartClicked.InvokeAsync())>Start first round</button>
</div>
<div class="row justify-content-center">
    @foreach (var p in Players)
    {
        <div class="card text-center border-0">
            <div class="p-3">
                <h5 class="m-0">
                    <span class="badge">
                        <PlayerConnectionStatus Player=p />
                        @p.Name
                    </span>
                </h5>
                @if(p.Type != PlayerType.Human)
                {
                    <span class="badge badge-secondary">Computer</span>
                }
            </div>
        </div>
    }
</div>
@code {
    [Parameter]
    public string RoomName { get; set; }

    [Parameter]
    public List<LobbyPlayer> Players { get; set; }

    [Parameter]
    public EventCallback OnStartClicked { get; set; }

}