@namespace Eumel.Client.Components

<div class="tab-content">
    <div class="tab-pane fade @(GetClass())" id="@Id" role="tabpanel" aria-labelledby="@Id-tab">
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter]
    private MainMenu Parent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "subpage page without container");

        base.OnInitialized();
        Parent.AddSubPage(this);
    }

    private string GetClass() => Parent.ActivePage == this ? "active show" : "";
}