@using EumelCore
@namespace EumelBlazor.Components
@if (Hand != null && Hand.Any())
{
    <div class="card text-center @wrapperClass">
        <div class="card-body">
            @if (IsTurn)
            {
                <h5 class="card-title text-info">Choose your card</h5>
            }
            else
            {
                <h5 class="card-title">Your Hand</h5>
            }
            <div class="row justify-content-center">
                @foreach (var card in Hand)
                {
                    <div class="card text-center border-0" style="cursor:pointer" @onclick=@(() =>
                                                                                        OnCardClicked.InvokeAsync(card))>
                        <div class="card-body" style="font-size:250%">
                            @card
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Hand Hand { get; set; }

    [Parameter]
    public bool IsTurn { get; set; }

    [Parameter]
    public EventCallback<Card> OnCardClicked { get; set; }

    private string wrapperClass => IsTurn ? "border-info" : "border-0";
}